<?xml version="1.0" encoding="UTF-8"?>
<config type="HLS">
	<CommBgMusic>bg.mp3</CommBgMusic>
	<ServerPath>D:\videoshls\nginx-1.9.7\html\</ServerPath>
	<CameraList>
		<Camera>
			<name>huanglong1</name>
			<URL>rtsp://117.139.114.25:554/hikvision://192.168.102.196:8000:0:1??username=admin&amp;password=HL7249000</URL>
			<OutputVideoFormat></OutputVideoFormat>
			<OutputAudioFormat></OutputAudioFormat>
			<dirName>t1</dirName>
			<BgMusic>bg2.mp3</BgMusic>
			<LogTag>黄龙争艳池下</LogTag>
		</Camera>
	    <Camera>
			<name>emei1</name>
			<URL>rtsp://117.139.75.30:554/hikvision://10.10.43.2:8000:0:1??username=admin&amp;password=12345</URL>
			<OutputVideoFormat></OutputVideoFormat>
			<OutputAudioFormat></OutputAudioFormat>
			<dirName>t2</dirName>
			<BgMusic>bg2.mp3</BgMusic>
			<LogTag>峨眉山1</LogTag>
		</Camera>
	    <Camera>
			<name>emei3</name>
			<URL>rtsp://117.139.75.31:554/hikvision://10.10.45.2:8000:0:1??username=admin&amp;password=Leshan20141014</URL>
			<OutputVideoFormat></OutputVideoFormat>
			<OutputAudioFormat></OutputAudioFormat>
			<dirName>t2</dirName>
			<BgMusic>bg2.mp3</BgMusic>
			<LogTag>峨眉山2</LogTag>
		</Camera>
		 <Camera>
			<name>jiuzhaigou1</name>
			<URL>rtsp://117.139.114.25:554/hikvision://192.168.91.2:8000:0:1??username=admin&amp;password=Admin123</URL>
			<OutputVideoFormat></OutputVideoFormat>
			<OutputAudioFormat></OutputAudioFormat>
			<dirName>t3</dirName>
			<BgMusic>bg2.mp3</BgMusic>
			<LogTag>九寨沟沟口</LogTag>
		</Camera>
		 <Camera>
			<name>jiuzhigou2</name>
			<URL>rtsp://117.139.114.25:554/hikvision://192.168.91.1:8000:0:1??username=admin&amp;password=Admin123</URL>
			<OutputVideoFormat></OutputVideoFormat>
			<OutputAudioFormat></OutputAudioFormat>
			<dirName>t3</dirName>
			<BgMusic>bg2.mp3</BgMusic>
			<LogTag>九寨沟长海</LogTag>
		</Camera>
		 <Camera>
			<name>leshandafo1</name>
			<URL>rtsp://117.139.75.30:554/hikvision://10.10.46.2:8000:0:2??username=admin&amp;password=12345</URL>
			<OutputVideoFormat></OutputVideoFormat>
			<OutputAudioFormat></OutputAudioFormat>
			<dirName>t4</dirName>
			<BgMusic>bg2.mp3</BgMusic>
			<LogTag>乐山大佛</LogTag>
		</Camera>
                <Camera>
			<name>xinduqiao1</name>
			<URL>rtsp://223.85.85.33/hikvision://192.168.100.160:8000:0:0??username=admin&amp;password=12345</URL>
			<OutputVideoFormat></OutputVideoFormat>
			<OutputAudioFormat></OutputAudioFormat>
			<dirName>t5</dirName>
			<BgMusic>bg2.mp3</BgMusic>
			<LogTag>新都桥</LogTag>
		</Camera> 
	</CameraList>

</config>